@import "tailwindcss";


@theme {
  --color-primary : #0B0B0B ;
  --color-secondary : #FFFFFF ;
  --color-accent : #141414 ;
}
/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Tailwind color equivalent: bg-gray-100 */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Tailwind color equivalent: bg-gray-500 */
  border-radius: 4px; /* Add rounded corners */
}
